doctype html
html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title mkvcast
        link(rel='stylesheet' href='/static/components/bootstrap/dist/css/bootstrap.min.css')
        script(type='text/javascript', src='https://www.gstatic.com/cv/js/sender/v1/cast_sender.js')
        script(type='text/javascript', src='/static/js/chromecast.js')
        style.
          a:visited { color: #4ac99e; }
body
    .jumbotron
        .container
            h1 mkvcast
            p#now-playing
            p
                small#cur-time
    .container
        ol.breadcrumb
            li
                a(href='/list') Media Directories
            if !!dirPaths
                each pathComponent, i in dirPaths
                    if i == dirPaths.length - 1
                        li.active= pathComponent
                    else
                        li
                            a(href='/list//' + dirPaths.slice(0, i + 1).join('/'))= pathComponent
        .row
            .col-xs-4
                .input-group
                    .input-group-addon Start At
                    input(type='text' placeholder='HH:MM:SS').form-control#startTime
            .col-xs-4
                a(href='/channels').file Up Next
        .row &nbsp;

        each channel, x in channels
            if ((x % 4 == 0))
                .row
                    each channel, y in channels.slice(x, x + 4)
                        .col-xs-12.col-sm-3
                            .media
                                .pull-left
                                    span.glyphicon.glyphicon-play &nbsp;
                                .media-body
                                    a(href='/channels/' + channel).channel= channel

        .row &nbsp;

        each file, x in dirContents
            if ((x % 4 == 0))
                .row(style='min-height: 33px')
                    each file, y in dirContents.slice(x, x + 4)
                        .col-xs-12.col-sm-3
                            if file.isDirectory
                                .media

                                    .pull-left
                                        span.glyphicon.glyphicon-folder-open &nbsp;
                                    .media-body
                                        a(href='/list/' + file.filePath).directory= file.displayName
                            else
                                a(href='/stream/' + file.filePath).clearfix.file
                                    .span.glyphicon.glyphicon-play.pull-left &nbsp;
                                    .span.pull-left= file.displayName
                                    if file.mediaType === 'tv'
                                        small.pull-right &nbsp;##{file.season}.#{file.episode}


    script.
        var formatTimeComponent = function(timeComponent) {
            return ('0' + (timeComponent | 0) % 60).slice(-2);
        };

        var convertSecondsToTime = function(seconds) {
            return seconds
                ? formatTimeComponent(seconds / 3600) + ':' + formatTimeComponent(seconds / 60) + ':' + formatTimeComponent(seconds % 60)
                : ''
        };

        var startTimeClickHandler = function() {
            var startTime = document.getElementById('startTime').value;
            if (!startTime) { return; }
            if (startTime.split(':').length !== 3) { return; }

            this.href = this.href + '?startTime=' + startTime;
        };
