!!!5
html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title mkvcast
        link(rel='stylesheet' href='/static/components/bootstrap/dist/css/bootstrap.min.css')
body
    .jumbotron
        .container
            h1 mkvcast
            p#nowplaying= nowPlaying
            p
                small#curTime
    .container
        ol.breadcrumb
            li
                a(href='/list') Media Directories
            if !!dirPaths            
                each pathComponent, i in dirPaths
                    if i == dirPaths.length - 1
                        li.active= pathComponent
                    else
                        li                        
                            a(href='/list//' + dirPaths.slice(0, i + 1).join('/'))= pathComponent
        .row
            .col-xs-4
                .input-group
                    .input-group-addon Start At
                    input(type='text' placeholder='HH:MM:SS').form-control#startTime
        .row &nbsp;

        each file, x in dirContents
            if ((x % 4 == 0))
                .row
                    each file, y in dirContents.slice(x, x + 4)
                        .col-xs-6.col-md-3
                            .media
                                if file.isDirectory
                                    .pull-left
                                        span.glyphicon.glyphicon-folder-open &nbsp;
                                    .media-body
                                        a(href='/list/' + file.filePath).directory= file.displayName
                                else
                                    .pull-left
                                        span.glyphicon.glyphicon-play &nbsp;
                                    .media-body
                                        a(href='/send/' + file.filePath).file= file.displayName
                                        if file.mediaType === 'tv'
                                            h4 
                                                small Ep. xx/xx

    script.
        var formatTimeComponent = function(timeComponent) { 
            return ('0' + (timeComponent | 0) % 60).slice(-2);
        };
        
        var convertSecondsToTime = function(seconds) { 
            return seconds
                ? formatTimeComponent(seconds / 3600) + ':' + formatTimeComponent(seconds / 60) + ':' + formatTimeComponent(seconds % 60)
                : ''
        };

        var ws = new WebSocket('ws://' + window.location.host);
        ws.onerror = function(event) {
            console.log('ERROR! <%s>', event);
        };
        
        ws.onmessage = function(event) {
            var message = JSON.parse(event.data);
            document.getElementById('curTime').innerText = convertSecondsToTime(message.currentTimeSeconds + message.startTimeSeconds);
        };
        
        var startTimeElement = document.getElementById('startTime');
        
        var startTimeClickHandler = function() {
            var startTime = startTimeElement.value;
            if (!startTime) { return; }
            if (startTime.split(':').length !== 3) { return; }
            
            this.href = this.href + '?startTime=' + startTime;
        };
        
        var allLinks = document.getElementsByTagName('a');
        
        Array.prototype.forEach.call(allLinks, function(val, index) {
            val.addEventListener('click', startTimeClickHandler);
        });