!!!
html
head
  script(type="text/javascript", src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js")
body
    script.
        var noop = function() {};

        var loadMedia = function(session) {
          var mediaInfo = new chrome.cast.media.MediaInfo('#{mediaUrl}', 'video/mkv');
          var request = new chrome.cast.media.LoadRequest(mediaInfo);
          request.autoPlay = true;

          request.currentTime = 0;

          session.loadMedia(request);

          window.location.replace('http://' + window.location.host + '/list');
        };

        var initializePlayer = function() {
          if (!chrome.cast || !chrome.cast.isAvailable) {
            setTimeout(this.initializePlayer.bind(this), 1000);
            return;
          }

          var sessionRequest = new chrome.cast.SessionRequest(chrome.cast.media.DEFAULT_MEDIA_RECEIVER_APP_ID);

          var apiConfig = new chrome.cast.ApiConfig(sessionRequest, loadMedia, noop);

          chrome.cast.initialize(apiConfig, function() { chrome.cast.requestSession(loadMedia); }, noop);
        }

        initializePlayer();
