!!!5
html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title mkvcast
        link(rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.min.css')
body
    .jumbotron
        .container
            h1 mkvcast
            p= nowPlaying
    .container
        ol.breadcrumb
            li
                a(href='/list') Media Directories
            if !!dirPaths            
                each pathComponent, i in dirPaths
                    if i == dirPaths.length - 1
                        li.active= pathComponent
                    else
                        li                        
                            a(href='/list//' + dirPaths.slice(0, i + 1).join('/'))= pathComponent

        each file, x in dirContents
            if ((x % 4 == 0))
                .row
                    each file, y in dirContents.slice(x, x + 4)
                        .col-xs-6.col-md-3
                            .media
                                if file.isDirectory
                                    .pull-left
                                        span.glyphicon.glyphicon-folder-open &nbsp;
                                    .media-body
                                        a(href='/list/' + file.filePath).directory= file.displayName
                                else
                                    .pull-left
                                        span.glyphicon.glyphicon-play &nbsp;
                                    .media-body
                                        a(href='/send/' + file.filePath).file= file.displayName
                                        if file.mediaType === 'tv'
                                            h4 
                                                small Ep. xx/xx
    script(src='/components/jquery/jquery.min.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')